body {
    height: 100vh;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.main-container {
    height: 45vh;
    padding-top: 50px;
}
.chart-container {
    height: 55vh;
    
}