<body [ngStyle]="{'background-image':daytime === 'night' ?  
    'linear-gradient(to top, #061122 0%, #123063 100%)':
    'linear-gradient(to top, #48a6df 0%, #203c73 100%)'}" 
    class="rare-wind-gradient">

    <app-navbar [isDashboard]="true"></app-navbar>
    <!--fullscreen wrapper-->
    <div class="w-100 h-100 d-flex">
        <!--45vh-->
        <div class="container-fluid d-flex justify-content-center main-container position-fixed mb-2">
            <station-data></station-data>
        </div>
        <!--55vh-->
        <div class="container-fluid d-flex justify-content-center chart-container mt-auto row">
            <temperature-chart class="col-sm-12 col-md-4 mt-1 mb-auto"></temperature-chart>
            <week-chart class="col-sm-12 col-md-6 mt-1 mb-auto"></week-chart>
        </div>
    </div>
    <app-footer (updateStation)="updateDashboard($event)"></app-footer>

</body>
