.border-light{
  border : 4px solid #00c853 !important;
}
.fontColor{
  color: red !important;
}
.rare-grass-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#69f0ae), to(#00c853));
    background-image: -webkit-linear-gradient(bottom, #b9f6ca 0%, #00c853 100%);
    background-image: linear-gradient(to top, #b9f6ca 0%, #00c853 100%); }; 
    