<div class="pt-3 animated bounceInDown">
  <div class="card transparent z-depth-0">
      <h2 class="h2-responsive"><i class="fa fa-map-marker" aria-hidden="true"></i> Simulated Sensor 1</h2>
      <h5 class="h5-responsive" style="font-size:11px;">Fr., 13.04.2018 10:27</h5>
    </div>
    <div class="d-flex justify-content-center position-relative py-2">
      <img class="weather-icon" src="assets/weather/static/sunny.svg" alt="weather"> 
      <h1 class="h1 mt-auto mb-auto mx-3">88 °C</h1>
    </div>
    <div class="card transparent z-depth-0">
        <h2 class="h5-responsive">Sunny Day</h2>
        <h5 class="h5-responsive" style="font-size:11px;"><i class="fa fa-umbrella"></i>  5%</h5>
    </div>
</div>