h1{
    color: white;
    font-size: 45px;
}
.h2-responsive {
    color: white;
    text-align: center;
}
.h5-responsive {
    color: white;
    font-size: 14px;
    text-align: center;
}
.weather-icon {
    position: relative;
    height: 100px; 
    width: 100px; 
}
