<div class="pt-2 animated bounceInDown">
  <div class="card transparent z-depth-0">
    <h2 class="h2-responsive"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i> {{station.name}}</h2>
    <h5 class="h5-responsive" style="font-size:16px;">{{temperature.date}}</h5>
  </div>
    <div class="d-flex justify-content-center position-relative py-2">
      <img class="weather-icon" [src]="type_path" alt="weather"> 
      <h1 class="h1 mt-auto mb-auto mx-3">{{temperature.value}} °C</h1>
    </div>
    <div class="card transparent z-depth-0">
        <h2 class="h5-responsive d-flex justify-content-between mx-1">
          <div class="col-3"><img class="data-icon mr-1" src="assets/misc-icons/humidity.svg">{{air.humidity}}</div>
          <div class="col-3"><img class="data-icon mr-1" src="assets/misc-icons/wind.svg">{{wind.speed}}</div>
          <div class="col-3"><img class="data-icon mr-1" src="assets/misc-icons/precipitation.svg">{{precipitation.amount}}</div>
          <div class="col-3"><img class="data-icon mr-1" [src]="direction_path">{{wind.direction}}</div>
        </h2>
    </div>
</div>