h1{
    color: white;
    font-size: 45px;
}
.h2-responsive {
    color: white;
    text-align: center;
    font-size: 32px;
}
.h5-responsive {
    color: white;
    font-size: 14px;
    text-align: center;
}
.weather-icon {
    position: relative;
    height: 100px; 
    width: 100px; 
}
.data-icon {
    position: relative;
    height: 16px;
    width: 16px;
}
.col-3 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
button {
    background: transparent;
    border: none !important;
    color: white;
}
.rightFix {
    margin-right: 5px !important;
}