<div class="animated fadeInUp">
  <h5 class="h5-responsive">Last Week</h5>
  <hr class="white border-light">

  <div class="row">
    <div class="col-2 week-day border-right">
      <img src="assets/weather/static/cloudy.svg" alt="weather">
      Mon.
    </div>
    <div class="col-2 week-day border-right">
      <img src="assets/weather/static/cloudy-day-2.svg" alt="weather">
      Tues.
    </div>
    <div class="col-2 week-day border-right">
      <img src="assets/weather/static/rainy.svg" alt="weather">
      Wed.
    </div>
    <div class="col-2 week-day border-right">
      <img src="assets/weather/static/snowy.svg" alt="weather">
      Thurs.
    </div>
    <div class="col-2 week-day border-right">
      <img src="assets/weather/static/stormy.svg" alt="weather">    
      Fri.
    </div>
    <div class="col-2 week-day">
      <img src="assets/weather/static/day.svg" alt="weather">
      Sat.
    </div>
  </div>
</div>