<div class="animated fadeInUp">
  <h5 class="h5-responsive">Last Month</h5>
  <hr class="white border-light">
  <div class="row">
    <div class="col-3 week-day border-right">
      <img [src]="weekTemperatures[0].path" alt="weather">
      <p>{{ weekTemperatures[0].value }}</p>
    </div>
    <div class="col-3 week-day border-right">
      <img [src]="weekTemperatures[1].path" alt="weather">
      <p>{{ weekTemperatures[1].value }}</p>
    </div>
    <div class="col-3 week-day border-right">
      <img [src]="weekTemperatures[2].path" alt="weather">
      <p>{{ weekTemperatures[2].value }}</p>
    </div>
    <div class="col-3 week-day">
      <img [src]="weekTemperatures[3].path" alt="weather">
      <p>{{ weekTemperatures[3].value }}</p>
    </div>
  </div>
</div>
<button (click)="test()">test</button> 
