<div class="animated fadeInUp">
  <h5 class="h5-responsive">Last Month</h5>
  <hr class="white border-light">

  <div class="row">
    <div class="col-3 week-day border-right">
      <img src="assets/weather/static/cloudy.svg" alt="weather">
      Week 1
    </div>
    <div class="col-3 week-day border-right">
      <img src="assets/weather/static/cloudy-day-2.svg" alt="weather">
      Week 2
    </div>
    <div class="col-3 week-day border-right">
      <img src="assets/weather/static/rainy.svg" alt="weather">
      Week 3
    </div>
    <div class="col-3 week-day">
      <img src="assets/weather/static/snowy.svg" alt="weather">
      Week 4
    </div>
  </div>
</div>