.h5-responsive {
    color: white;
    font-size: 16px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
.week-day {
    text-align: center;
    color: white;
    font-size: 13px;
    padding-right: 0px;
    padding-left: 0px;

}
.border-right {
    border-color: #2a5c8e !important;
}