<div class="station">
    <a (click)="openGroupButton()" class="d-flex justify-content-between pt-2">
        <div class="text-small mt-auto mb-auto mr-auto">   
            <strong class="h5">Leonding</strong> 
            <p class="last-update"><span class="float-left">
                <i class="fa fa-refresh mr-1" aria-hidden="true"></i></span> 
                17.04.2018
            </p>
        </div>
        <img src="../../../assets/weather/static/cloudy-day-2.svg" class="mr-2">
        <div class="station-temp mt-auto mb-auto">
            <strong class="h2">88 °C</strong>
        </div>
    </a>
</div>