<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand navbar-dark fixed-top animated fadeInDown z-depth-0">
    <logo *ngIf="isDashboard">
        <a class="logo navbar-brand waves-light h4 mb-auto" mdbRippleRadius href="#">Weather</a>
    </logo>
    <logo *ngIf="!isDashboard">
        <a class="logo navbar-brand waves-light h4 mb-auto" mdbRippleRadius href="dashboard"><img class="back-arrow-icon mt-1" src="../../../assets/misc-icons/back-arrow.svg"/></a>
    </logo>
    <!--Navbar Items-->
    <links class="pull-right ml-auto">
        <ul class="navbar-nav pull-left">
            <li *ngIf="isDashboard" class="nav-item waves-light mr-3" mdbRippleRadius>
                <a class="nav-link" href="stations">Stations</a>
            </li>
            <li *ngIf="!isDashboard" class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" (click)="callDialog()">Add Station</a>
            </li>
            <!--Dropdown-->
            <li *ngIf="isDashboard" class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown animated fadeInDown" role="menu">
                    <a class="dropdown-item waves-dark" href="settings" mdbRippleRadius>Settings</a>
                    <a class="dropdown-item waves-dark" href="mqtt" mdbRippleRadius>MQTT Client</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-dark" mdbRippleRadius>Close</a>
                </div>
            </li>     
        </ul>
    </links>
</mdb-navbar>
<!--/.Navbar-->