.rare-wind-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#69aae0), to(#2b33d1));
    background-image: -webkit-linear-gradient(bottom, #69aae0 0%, #2b33d1 100%);
    background-image: linear-gradient(to top, #329bdb 0%, #203c73 100%); 
}
.station-list{
    width: 100%;
    padding-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
}
.list-group-item {
    padding: 0px;
    border: 1px solid transparent;
    border-bottom: 1px solid white !important;
}
.stationDialog {
    padding: 25px 25px 0px 25px;
    color: white;
    background-image: linear-gradient(to top, #ffa633 0%, #2e84c2 50%); 
}
#stationInput {
    color:white;
}
.btn{
    background-color: #ffa633;
    height: 40px;
    text-align: center;
}