<body class="rare-wind-gradient">
  <app-navbar [isDashboard]="false" (addStation)="onCallDialog($event)"></app-navbar>
  <!--fullscreen wrapper-->
  <div class="w-100 h-100 d-flex align-items-start">
    <!--station-items-->
    <ul class="station-list list-group">
        <li *ngFor="let station of stations" class="mt-auto list-group-item transparent">
            <station-item
              [station]="station"
              (openInDashboard)="onOpenInDashboard($event)">
            </station-item>
          </li>
    </ul>
    <!--/station-items-->
    <!--add-station-->
    <div *ngIf="showNewStationForm" [ngClass]="{'fadeOutDown': moveOut===true}" class="fixed-bottom stationDialog animated fadeInUp">
      <form>
        <p class="h5 text-center mb-2">Station Name</p>
          <div class="md-form d-flex justify-content-center">
            <input autofocus [(ngModel)]="model.name" name="stationName" type="text" id="stationInput" class="form-control mr-2">
            <button (keyup.enter)="addStation()" (click)="addStation()" class="btn waves-light">Add</button>
          </div>
      </form>
    </div>
    <!--/add-statio-->
  </div>
  <app-footer></app-footer>
</body>